.ipynb_checkpoints
.vscode

NPB-OMP/LU/.ipynb_checkpoints
NPB-OMP/LU/lu.o
NPB-OMP/LU/lu.opt.yaml
NPB-OMP/LU/lu.optrpt
NPB-OMP/LU/npbparams.hpp
NPB-OMP/common/c_timers.o
NPB-OMP/common/c_wtime.o
NPB-OMP/common/c_print_results.o
NPB-OMP/sys/setparams
NPB-OMP/timer.flag
NPB-OMP/timer.flag.off
NPB-OMP/vtune_hotspots
NPB-OMP/adv_vectorization
NPB-OMP/adv_offload_model
NPB-OMP/config/context_values.cfg
NPB-OMP/config/state.cfg

NPB-OMP-GPU/LU/.ipynb_checkpoints
NPB-OMP-GPU/LU/lu.o
NPB-OMP-GPU/LU/lu.opt.yaml
NPB-OMP-GPU/LU/lu.optrpt
NPB-OMP-GPU/LU/npbparams.hpp
NPB-OMP-GPU/common/c_timers.o
NPB-OMP-GPU/common/c_wtime.o
NPB-OMP-GPU/common/c_print_results.o
NPB-OMP-GPU/sys/setparams
NPB-OMP-GPU/timer.flag
NPB-OMP-GPU/timer.flag.off
NPB-OMP-GPU/vtune_hotspots
NPB-OMP-GPU/adv_vectorization
NPB-OMP-GPU/adv_offload_model
NPB-OMP-GPU/vtune_gpu_offload_unopt
NPB-OMP-GPU/vtune_gpu_hotspots_unopt
NPB-OMP-GPU/adv_gpu_roofline_opt
NPB-OMP-GPU/config/context_values.cfg
NPB-OMP-GPU/config/state.cfg

OMP-GPU_parallelism_draft.cpp

NPB-OMP-GPU/saved_tars